-target 1.8

-allowaccessmodification
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-useuniqueclassmembernames
-dontusemixedcaseclassnames

-keepattributes SourceFile,LineNumberTable

-keepclasseswithmembers public class * { public static void main(java.lang.String[]); }

-keepclassmembers class * extends java.lang.Enum {
    <fields>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep public class * implements org.tinylog.provider.LoggingProvider { *; }

-repackageclasses #{release.package}